/*$primaryBtn: */

.center {
    border: 5px solid #FFFF00;
    text-align: center;
}
* {
     margin: 5px;
     padding: 5px;
 }
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

 div {
     background: rgba(0, 128, 0, 0.3)
 }


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li { display: inline-block; }

